.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content > *{
    height: 65vmin;
    width: 65vmin;
    margin: 10vmin;
}

.content > img{
    border-radius: 1vmin;
}

.content > #form{
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#form > h1{
    font-size: 5vmin;
    font-family: 'Nunito', sans-serif;
}

#form > .input-control{
    width: 100%;
}

.input-control > input{
    height: 3vh;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    text-indent: 1vmin;
    font-size: 2vmin;
    outline: none;
    padding: 0;
}

.input-control > textarea{
    width: 100%;
    border: 1px solid gray;
    font-size: 2vmin;
    outline: none;
    border-radius: 1vmin;
    padding: 1vmin;
    font-family: sans-serif;
    box-sizing: border-box;
    resize: none;
}

#form > button{
    height: 7vh;
    width: 100%;
    color: white;
    background-color: #3A70D1;
    border: none;
    border-radius: 1vmin;
    font-size: 3vmin;
    text-decoration: none;
}

#form > button:hover{
    background-color: orange;
    cursor: pointer;
    transition: 0.2s 0.1s ease-in;
}

#ageSex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#ageSex > input{
    width: 45%;
}

/* Validation error */

.input-control > .invalid{
    border-color: red;
}

.input-control > .invalid::placeholder{
    color: red;
}

.input-control > .error{
    height: 1.4vmin;
    font-size: 1.4vmin;
    color: red;
}