.mainAdotar {
  margin-top: 106px;
  /* padding-top: 10px; */
}

.footer {
  margin-top: 90vh;
  padding-top: 50px;
}

.imgPrincipal {
  height: 700px;
  width: 100%;
  background-image: url('./img/imgPrincipal.png');
}

.petsToAdoption {
  padding-top: 50px;
  margin: 0px 8% 0px 8%;
  display: flex;
  justify-content: space-between;
}

.filters {
  height: 700px;
  width: 400px;
  background-color: rgb(56, 56, 101);
}

.pets {
  /* height: 700px; */
  width: calc(100% - 450px);
  /* background-color: rgb(49, 83, 48); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.pet {
  width: calc(90% / 3);
  background-color: aliceblue;
  margin-bottom: 50px;
  border-radius: 10px;
}

.pet img {
  width: 100%;
  border-radius: 10px;
  height: 350px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.namePet {
  color: #17479E;
}

.moreDetails {
  width: 100%;
  border-radius: 10px;
  background-color: #F9A870;
  border: none;
  color: white;
  height: 50px;
  font-size: 24px;
}