/* Configurações Globais */

html,body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

main{
    height: 100vh;
    box-sizing: border-box;
}

/* Menu Navegação  */

#menuPrincipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #17479E;
    font-weight: bold;
    border-bottom: 3px solid #17479E;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
}

#menuPrincipal > *{
    margin: auto;
    margin-right: 4vh;
    margin-left: 4vh;
    box-sizing: border-box;
}

#logoMenu a > img{
    width: 100px;
    height: 100px;
    margin: auto;
}

#navegacaoMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2vh;
}

#navegacaoMenu > ul{
    list-style: none;
}

#navegacaoMenu > ul li, #botoesMenu > *{
    display: inline-block;
    margin: 10px;
}

#navegacaoMenu > ul li a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s 0.1s ease-in;
}

#navegacaoMenu > ul li a:hover{
    color: orange;
    cursor: pointer;
}

#botoesMenu > p a{
    text-decoration: none;
}

#botaoAdotar a{
    color: white;
    background-color: orange;
    padding: 1vh;
    border-radius: 5px;
}

#botaoLogin a{
    color: #17479E;
    border: 1px solid #17479E;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 5px;
}

/* Rodapé */

#footerPrincipal{
    background-color: #59535F;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logoFooter > a img{
    width: 100px;
    height: 100px;
    margin: auto;
}

#footerPrincipal> *{
    margin: auto;
    margin-right: 4vh;
    margin-left: 4vh;
    box-sizing: border-box;
}

#socialFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vh;
}

#socialFooter > a img{
    width: 25px;
    height: 25px;
}