.box-home {
  height: 950px;
  width: 100%;
  /* display: flex;
  align-items: center; */
  background: url("./images/imagemprincipal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.texto-principal {
  margin: 0 auto;
  padding-top: 6rem;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
}

.botao-imagem {
  margin-top: 9rem;
  outline: none;
  border: 2px solid orange;
  color: orange;
  /* text-decoration: none; */
  background-color: white;
  padding: 1rem 5rem;
  border-radius: 10px;
  font-size: 2rem;
  transition: 1ms;
}

.botao-imagem:hover {
  color: white;
  background-color: orange;
}

.texto2 {
  width: 80%;
  margin: 3rem auto;
  font-size: 2rem;
  margin-top: 1rem;
}
