/* Estilos gerais */

.box-home {
  position: relative;
  height: 0;
  /* Proporção 16:9 para manter a imagem responsiva */
  padding-top: 56.25%;
  background: url("./images/imagemprincipal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.box-home img {
  max-width: 100%;
}

.texto-principal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-size: 1.5rem;
}

.botao-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: 2px solid orange;
  color: orange;
  background-color: white;
  padding: 1rem 5rem;
  border-radius: 10px;
  font-size: 2rem;
  transition: 1ms;
}

.botao-imagem:hover {
  color: white;
  background-color: orange;
}

.texto2 {
  width: 80%;
  margin: 3rem auto;
  font-size: 1.2rem;
    margin-top: 1.1rem;
}

/* Estilos responsivos */

@media (min-width: 1800px) {
  .texto-principal {
    width: 70%;
    font-size: 1.2rem;
    top: 30%;
    text-align: justify;
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.7rem;
    font-size: 1.6rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
    text-align: justify;
  }
}
@media (min-width: 1601px) and (max-width: 1700px) {

  .texto-principal {
    width: 70%;
    font-size: 1.2rem;
    top: 30%;
    text-align: justify;
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.6rem;
    font-size: 1.6rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {

  .texto-principal {
    width: 70%;
    font-size: 1.2rem;
    top: 30%;
    text-align: justify;
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.5rem;
    font-size: 1.6rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 70%;
    font-size: 1.2rem;
    top: 30%;
    text-align: justify;
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.4rem;
    font-size: 1.5rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 3rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 70%;
    font-size: 1.1rem;
    top: 31%;
    text-align: justify;
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.3rem;
    font-size: 1.4rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}
@media (min-width: 1201px) and (max-width: 1300px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 70%;
    font-size: 1rem;
    top: 30%;
    text-align: justify;
  
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.2rem;
    font-size: 1.4rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}
@media (min-width: 1101px) and (max-width: 1200px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 65%;
    font-size:0.9rem;
    top: 35%;
    text-align: justify;
  }
  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1.1rem;
    font-size: 1.3rem;
    top: 160%;
  }
  .box-home {
    margin-bottom: 3rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}
@media (min-width: 1001px) and (max-width: 1100px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 65%;
    font-size: 0.85rem;
    top: 35%;
    text-align: justify;
  }
  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
    top: 160%;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 65%;
    font-size: 0.7rem;
    top: 35%;
    text-align: justify;
  }

  .botao-imagem {
    margin-top: 1rem;
    padding: 0.2rem 0.9rem;
    font-size: 1.2rem;
    text-align: center;
    top: 160%;
  }
  .box-home {
    margin-bottom: 3rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -2rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }
  .texto2 {
    width: 90%;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 801px) and (max-width: 900px) {
  /* Para dispositivos com largura máxima de 1200px */
  .texto-principal {
    width: 65%;
    font-size: 0.8rem;
    top: 40%;
    text-align: justify;
  }


  .box-home {
    margin-bottom: 3rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -2rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }

  .botao-imagem {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    top: 160%;
  }
  .texto2 {
    width: 90%;
    font-size: 1rem;
    margin-top: 0.9rem;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .texto-principal {
    width: 65%;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    padding: 0.1rem 1rem;
    top: 40%; /* Ajuste o valor para mover verticalmente o texto */
    text-align: justify;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -2rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }

  .botao-imagem {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    top: 160%;
  }

  .texto2 {
    width: 90%;
    font-size: 0.9rem;
    margin-top: 0.8rem;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  /* Para dispositivos com largura máxima de 900px */
  .texto-principal {
    width: 65%;
    font-size: 0.5rem;
    margin-top: 0.3rem;
    padding: 0.1rem 1rem;
    top: 40%; /* Ajuste o valor para mover verticalmente o texto */
    text-align: justify;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }

  .botao-imagem {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    top: 160%;
  }

  .texto2 {
    width: 90%;
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  .texto-principal {
    width: 65%;
    font-size: 0.4rem;
    margin-top: 0.3rem;
    padding: 0.1rem 1rem;
    top: 45%; /* Ajuste o valor para mover verticalmente o texto */
    text-align: justify;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }

  .botao-imagem {
    margin-top: 1rem;
    font-size: 0.5rem;
    padding: 0.2rem 0.5rem;
    top: 160%;
  }

  .texto2 {
    width: 90%;
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 500px) {
  .texto-principal {
    width: 60%;
    font-size: 0.4rem;
    margin-top: 0.3rem;
    padding: 0.1rem 1rem;
    top: 45%; /* Ajuste o valor para mover verticalmente o texto */
    text-align: justify;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }

  .botao-imagem {
    margin-top: 1rem;
    font-size: 0.5rem;
    padding: 0.2rem 0.4rem;
    top: 160%;
  }

  .texto2 {
    width: 90%;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .texto-principal {
    width: 65%;
    font-size: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.1rem 1rem;
    top: 45%; /* Ajuste o valor para mover verticalmente o texto */
    text-align: justify;
  }
  .box-home {
    margin-bottom: 2rem; /* Ajuste a margem inferior conforme necessário */
  }
  h2 {
    margin-bottom: -1rem; /* Ajuste a margem inferior conforme necessário */
    text-align: center;
  }

  .botao-imagem {
    margin-top: 1rem;
    font-size: 0.5rem;
    padding: 0.2rem 0.4rem;
    top: 160%;
  }

  .texto2 {
    width: 90%;
    font-size: 0.5rem;
    margin-top: 0.4rem;
  }
}



