.imgHome {
  margin-top: 80px;
  display: flex;
  width: 100%;
}

.textoPrincipal {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Cantarell";
  font-size: 1.5rem;
}

.btnQueroAdotar {
  display: flex;
  width: 30rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  font-weight: bold;
  font-family: "Cantarell";
  font-size: 3rem;

  background-color: #f9a870;
  outline: #f9a870;
  border-color: #f9a870;
  border-radius: 10px;
  color: white;

  transition: .3ms;
}

.btnQueroAdotar:hover {
  background-color: #fa8f42;
}

.textoSecundario {
  /* background-color: #f9a870; */
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.textoSecundario ul {
  width: 45%;
  font-size: 1.1rem;
  list-style: none;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }

}