.content{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.petCard{
    background-color: white;
    border-radius: 4vh 0 4vh 0;
    font-size: 2vh;
    margin-top: 10vh;
    overflow: hidden;
}

.petCard > #petPhoto{
    height: 45vh;
    width: 45vh;
}

.petCard > .infoPet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 45vh;
    padding: 2vh;
    box-sizing: border-box;
}

.infoPet > .row-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#petName{
    font-size: 4vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: orange;
}

#petSex,
#petAge{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: orange;
}

.infoPet button{
    height: 4vh;
    color: white;
    background-color: #3A70D1;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    text-decoration: none;
}

.infoPet button:hover{
    background-color: orange;
    cursor: pointer;
    transition: 0.2s 0.1s ease-in;
}