#petPageContainer{
    min-height: 100vh;
    background-color: #E3E3E3;
    box-sizing: border-box;
    padding-top: 20vh;
    max-width: 100%;
    overflow-x: hidden;
}

#fotoPet img{
    width: 400px;
    height: 400px;
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
}

#petCard{
    position: inherit;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 5vh;
    box-sizing: border-box;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

#infoPet{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    overflow-x: hidden;
}

#infoPet > div:first-child{
    color: orange;
}

#adotarPet{
    width: 100%;
}

#adotarPet > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: auto;
  
}

#adotarPet > a p{
    background-color: orange;
    padding: 1.2vh;
    width: 30%;
    text-align: center;
}

#infoPet > div:nth-child(2){
    text-align: justify;
}


/* TELAS  */


@media (max-width:768px) {
    
    #fotoPet img{
        width: 80vw;
        height: 80vw;
        border-right: 3px solid orange;
        border-bottom: 3px solid orange;
    }
    


    #petCard{
        position: inherit;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        column-gap: 5vh;
        box-sizing: border-box;
        padding-bottom: 5vh;
    }
    

    #infoPet{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
    }

}


@media (min-width:1024px) and (max-width:1390px) {
    #infoPet{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
    }
}