/* Configurações Globais */

html,body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Menu Navegação  */

#menuPrincipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: #17479E;
    font-weight: bold;
    border-bottom: 2px solid #0d2b6454;
    position: fixed;
    width: 100%;
    top: 0;
}

#menuPrincipal > *{
    margin: auto;
    margin-right: 4vh;
    margin-left: 4vh;
    box-sizing: border-box;
}

#logoMenu a > img{
    width: 100px;
    height: 100px;
    margin: auto;
}

#navegacaoMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2vh;
}

#navegacaoMenu > ul{
    list-style: none;
}

#navegacaoMenu > ul li, #botoesMenu > *{
    display: inline-block;
    margin: 10px;
}

#navegacaoMenu > ul li a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s 0.1s ease-in;
}

#navegacaoMenu > ul li a:hover{
    color: orange;
    cursor: pointer;
}

#botoesMenu > p a{
    text-decoration: none;
}

#botaoAdotar a{
    color: white;
    background-color: orange;
    padding: 1vh;
    border-radius: 5px;
}

#botaoLogin a{
    color: #17479E;
    border: 1px solid #17479E;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 5px;
}

/* Rodapé */

#footerPrincipal{
    background-color: #59535F;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logoFooter > a img{
    width: 100px;
    height: 100px;
    margin: auto;
}

#footerPrincipal> *{
    margin: auto;
    margin-right: 4vh;
    margin-left: 4vh;
    box-sizing: border-box;
}

#socialFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vh;
}

#socialFooter > a img{
    width: 25px;
    height: 25px;
}

.content {
    grid-area: conteudo;
}

.box-home p, .box-home h2{
margin: top px;

}
.box-home h2{
    margin-bottom: 0;
}
@media (min-width: 700px) {
    .wrapper{
        font-size: 2em;
        display: -moz-grid-group;
        grid-template-columns: 250px ;
        grid-template-rows: 150px  120px;
        grid-template-areas: "cabecalho cabecalho"
                    "periferico conteudo"
                    "rodape rodape";
        grid-gap: 5px 20px;            
        }
}



.texto-principal {
    position: flex;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }



.imagem-principal {
    width: 100%;
    height: auto;
  }


.container{
    width: 1000px;
    margin:0 auto;
}
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-home {
    display: flex;
    align-items: center;
}


.content {
    position: relative;
}



  
  .imagem-principal {
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
  }
  
  .texto-principal {
    
    position: absolute;
text-align: justify;
    top: 20%; /* alterar de 20% para 10% */
    left: 40%;
    transform: translate(-30%, -50%);
    z-index: 2;
    color: #fff; 
}


main{
    height: 10vh;
    box-sizing: content-box;
    margin-top: 0px; /* margem superior reduzida */
}

