.content {
	margin-top: 11vh;
	grid-area: conteudo;
	position: relative;
}

.box-home p, .box-home h2{
	margin: top px;
}

.box-home h2{
	margin-bottom: 0;
}

@media (min-width: 700px) {
	.wrapper{
		font-size: 2em;
		display: -moz-grid-group;
		grid-template-columns: 250px ;
		grid-template-rows: 150px  120px;
		grid-template-areas: "cabecalho cabecalho"
					"periferico conteudo"
					"rodape rodape";
		grid-gap: 5px 20px;            
	}
}

.texto-principal {
	position: flex;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.imagem-principal {
	width: 100%;
	height: auto;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-home {
	display: flex;
	align-items: center;
}

.imagem-principal {
	position: relative;
	top: auto;
	left: auto;
	z-index: 1;
}

.texto-principal {
	position: absolute;
	text-align: justify;
	top: 20%; /* alterar de 20% para 10% */
	left: 40%;
	transform: translate(-30%, -50%);
	z-index: 2;
	color: #fff; 
}